<div local-class="grid">
    <div>
        <h1>Elm</h1>
        <pre>
            <code>
parseAndReport : String -> String
parseAndReport given =
  case String.toInt given of
    Just number ->
      "Parsed " ++ String.fromInt number ++ "."

    Nothing ->
      "Error: Could not parse \"" ++ given ++ "\"."
            </code>
        </pre>
    </div>

    <div>
        <h1>Rust</h1>
        <pre>
            <code>

          </code>
        </pre>
    </div>

    <div>
        <h2>Output</h2>
        <pre>
-- parseAndReport "1000"
Parsed 1000.

-- parseAndReport "A grand"
Error: Could not parse "A grand".
        </pre>
    </div>
</div>
