<div local-class="grid">
    <div>
        <h1>Go</h1>
        <pre>
            <code>
package main

import "strconv"
import "fmt"

func main() {
    var i int64
    var err error

    i, err = strconv.ParseInt("1000", 0, 64)
    if (err != nil) {
      fmt.Printf("Error: %s.\n", err)
    } else {
     fmt.Printf("Parsed %d.\n", i)
    }


    i, err = strconv.ParseInt("A grand", 0, 64)
    if (err != nil) {
      fmt.Printf("Error: %s.\n", err)
    } else {
     fmt.Printf("Parsed %d.\n", i)
    }

    fmt.Println("Have a nice day.")
}
          </code>
        </pre>
    </div>

    <div>
        <h1>Go Again</h1>
        <pre>
            <code>
package main

import "strconv"
import "fmt"

func main() {
    var i int64

    i, _ = strconv.ParseInt("1000", 0, 64)
    fmt.Printf("Parsed %d.\n", i)

    i, _ = strconv.ParseInt("A grand", 0, 64)
    fmt.Printf("Parsed %d.\n", i)


    fmt.Println("Have a nice day.")
}
          </code>
        </pre>
    </div>

    <div>
        <h2>Output</h2>
        <pre>
Parsed 1000.
Error: strconv.ParseInt: parsing "A grand": invalid syntax.
Have a nice day.
        </pre>
    </div>

    <div>
        <h2>Output</h2>
        <pre>
Parsed 1000.
Parsed 0.
Have a nice day.
        </pre>
    </div>
</div>
