<div class="links">
<LinkTo @route="result-type">Result Type</LinkTo>
<LinkTo @route="prevention">Prevention</LinkTo>
<LinkTo @route="sound-principles">Sound Principles</LinkTo>
<LinkTo @route="route-level">Route Level Error Template</LinkTo>
</div>