<div class="links">
  <LinkTo @route="return-value">Return Value</LinkTo>
  <LinkTo @route="errno">Errno</LinkTo>
  <LinkTo @route="exceptions">Exceptions</LinkTo>
  <LinkTo @route="errors-as-data">Errors as Data</LinkTo>
  <LinkTo @route="elm-parse-int">Errors as Data (Elm)</LinkTo>
  <LinkTo @route="rust-parse-int">Errors as Data (Rust)</LinkTo>
  <LinkTo @route="prevention">Prevention</LinkTo>
  <LinkTo @route="sound-principles">Sound Principles</LinkTo>
  <LinkTo @route="error-substates">Ember Error Substates</LinkTo>
  <LinkTo @route="route-level">Route Level Error Template</LinkTo>
  <LinkTo @route="other-route">Other Route</LinkTo>
</div>