<h1>An ounce of prevention...</h1>
<table>
  <thead>
    <td></td>
    <td>Automated Testing</td>
    <td>Manual (click) Testing</td>
    <td>Type Checking</td>
    <td>Code Review</td>
  </thead>
  <tbody>
    <tr>
      <td>
        Examples
      </td>
      <td>
        <ul>
          <li>RSpec</li>
          <li>QUnit</li>
          <li>Percy</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Dev environment</li>
          <li>Staging</li>
          <li>Production, feature flagged</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Compile-time application logic (Typescript)</li>
          <li>Data persistence (Postgres column constraints)</li>
          <li>Data transmission (GraphQL, Avro)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        Design Focus
      </td>
      <td>
        Algorithm, Developer ergonomics
      </td>
      <td>
        End-user experience
      </td>
      <td>
        Data flow
      </td>
      <td>
        Comprehensibility, maintainability
      </td>
    </tr>
  </tbody>
</table>