<h1>Sound Principles</h1>
<h2>Things we all do flawlessly</h2>
<ul>
  <li>Automated Testing</li>
  <li>Performance measurement</li>
  <li>Efficient SQL queries</li>
  <li>Caching</li>
  <li>Continuous Integration</li>
  <li>Type Safety</li>
  <li>Error Handling</li>
</ul>